body {
    background-image: radial-gradient(circle at 48% 33%, rgba(255,255,255,0.04) 0%, rgba(255,255,255,0.04) 8%,transparent 8%, transparent 92%),radial-gradient(circle at 28% 16%, rgba(255,255,255,0.04) 0%, rgba(255,255,255,0.04) 8%,transparent 8%, transparent 92%),radial-gradient(circle at 34% 52%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 6%,transparent 6%, transparent 94%),radial-gradient(circle at 92% 52%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 6%,transparent 6%, transparent 94%),radial-gradient(circle at 77% 84%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 6%,transparent 6%, transparent 94%),radial-gradient(circle at 75% 64%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 6%,transparent 6%, transparent 94%),radial-gradient(circle at 70% 62%, rgba(255,255,255,0.04) 0%, rgba(255,255,255,0.04) 4%,transparent 4%, transparent 96%),radial-gradient(circle at 55% 100%, rgba(255,255,255,0.04) 0%, rgba(255,255,255,0.04) 4%,transparent 4%, transparent 96%),radial-gradient(circle at 12% 11%, rgba(255,255,255,0.04) 0%, rgba(255,255,255,0.04) 4%,transparent 4%, transparent 96%),radial-gradient(circle at 35% 55%, rgba(255,255,255,0.04) 0%, rgba(255,255,255,0.04) 4%,transparent 4%, transparent 96%),linear-gradient(45deg, rgb(26, 21, 192),rgb(55,7,90));
}

body, h1, h2, h3, h4, h5, h6, p, a {
    color: white;
    font-family:sans-serif;
}

html, body {
    height: 100%;
}

main{ 
    margin-top: 60px;
}

li a {
    font-size: 20px;
}

#barNav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    transition: background-color 0.3s ease;
    z-index: 1000;
}

#footPage {
    font-size: small;
    text-align: center;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#name{
    height: 40px;
}

.header-transparent {
    background-color: rgba(0, 0, 0, 0);
}

.header-dark {
    background-color: rgba(0, 0, 0, 0.8);
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.sitio {
    background-image: url();
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

ul.enlaces li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    position: relative;
}

ul.enlaces li a:hover::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -3px;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 1s ease;
}

ul.enlaces li a:hover::after {
    width: 100%;
    left: 0;
}


.links {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 100%;
}

.links .enlaces {
    list-style-type: none;
    padding: 0;
    margin: 0; /* Agregar para eliminar el margen predeterminado del <ul> */
}

.links .enlaces li {
    display: inline-block;
    margin: 0 10px;
    text-align: center;
}

.links .enlaces li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.descripcion{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    border: 2px solid #ccc; /* Añadimos el borde */
    border-radius: 10px; /* Redondeamos los bordes */
    padding: 20px; /* Espaciado interno para que no esté pegado al borde */
    width: 80%; /* Establecemos el ancho al 80% */
    margin: 0 auto; /* Centramos horizontalmente */
    max-width: 900px; /* Establecemos un ancho máximo */
}

.contenedor-peliculas {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    width: 80%;
    margin: 0 auto;
    max-width: 900px;
}


.pelicula {
    position: relative;
    width: 156px;
    height: 256px;
    margin-bottom: 20px;
    perspective: 1000px;
}

.pelicula img {
    max-width: 100%;
    max-height: 100%;
}

.pelicula .front-face,
.pelicula .back-face {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 0.6s;
    backface-visibility: hidden;
}

.pelicula .back-face h3 {
    font-size: 16px;
    background-color: rgb(145, 139, 139);
}

.pelicula .back-face p {
    font-size: 14px;
}

.pelicula .back-face {
    transform: rotateY(180deg);
}

.pelicula.flipped .front-face {
    transform: rotateY(180deg);
}

.pelicula.flipped .back-face {
    transform: rotateY(360deg);
}

/*footer animado es de https://codepen.io/Stockin/pen/jeNQEN y no me sale*/
.container-redes {
    position: relative;
    text-align: center;
}

.redes {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
}

.redes li {
    display: inline-block;
    margin: 0 10px;
}

.redes li a {
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: linear-gradient(0deg, #ddd, #fff);
    box-shadow: 0 10px 15px rgba(0,0,0,0.3);
    text-decoration: none;
    text-align: center;
    line-height: 60px;
    transition: box-shadow 0.5s;
}

.redes li a:hover {
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

.redes li a .fab {
    font-size: 24px;
    color: #262626;
}

.redes li:nth-child(1) a:hover .fab {
    color: #3b5998;
}

.redes li:nth-child(2) a:hover .fab {
    color: #00aced;
}

.redes li:nth-child(3) a:hover .fab {
    color: #007bb6;
}

.redes li:nth-child(4) a:hover .fab {
    color: #e4405f;
}

#footPage p {
    margin-top: 20px;
}
